.results{
    padding: 30px 15px !important;
}
.movies{
    display: flex;
}
.movie{
    text-align: center;
    margin: 10px 20px;
}
.movie p{
    margin-top: 10px;
}
.back_button{
    margin: 0px 50px;
}
.results h4{
    margin-left: 30px;
}