.movie_container{
    display: flex;
    margin: 100px 100px 50px 50px;

}
.info{
    margin: 50px;
}
.date{
    margin: 0px;
}
.title_container{
    display: flex;
    justify-content: space-between;
}
.title_container .title{
    display: flex;
}
.title_container .title > *{
    margin-right: 10px;
}

.back_button{
    margin: 10px 100px 0px 100px;
    font-size: 40px;
    cursor: pointer;
}